* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  background: hsl(30, 38%, 92%);
  font-family: helvetica;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 100px auto;
}

.all-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  background: hsl(0, 0%, 100%);
  /* height: 500px; */
  height: auto;
  width: 45%;
  border-radius: 10px;
  margin: 0 auto;
}

.content-text,
 .content-img {
  width: 50%;
  height: 500px;
}

.all-content .content-img {
  background-image: url('images/image-product-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content-text p {
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  margin: 10px 40px 10px 30px;
  padding: 10px;
}

.perfume {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Montserrat;
}

.content-text h2 {
  font-family: Fraunces;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-size: 35px;
  line-height: normal;
  margin: 10px 40px 10px 30px;
  padding: 10px;
}

.cost {
  display: flex;
  margin: 10px 40px 10px 30px;
  padding: 10px;
}

.content-text h3 {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 35px;
  color: hsl(158, 36%, 37%);
}

.cost p {
  text-decoration: line-through;
  align-items: center;
}

.cart-button {
  margin: 10px 40px 10px 30px;
}

button {
  cursor: pointer;
  font-family: Montserrat;
  font-size: 20px;
  color: #fff;
  background: hsl(158, 36%, 37%);
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background: hsl(158, 36%, 25%);
}

.cart-shop {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}



@media (max-width: 1340px){
  .all-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: auto;
    width: 50%;
    border-radius: 10px;
  }

  .all-content .content-img {
    width: 50%;
    height: auto;
}

  .all-content .content-text {
    height: 100%;
    width: 50%;
  }
}


@media screen and (max-width: 1150px){
  .all-content {
    display: block;
    height: 700px;
    width: 40%;
  }

  .all-content .content-img {
    background-image: url('images/image-product-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 40%;
  }

  .all-content .content-text {
    height: 60%;
    width: 100%;
    margin-bottom: inherit;
  }
}


@media screen and (max-width: 1000px){
  .all-content {
    display: block;
    height: 900px;
    width: 40%;
  }

  .all-content .content-img {
    background-image: url('images/image-product-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 40%;
  }

  .all-content .content-text {
    height: 60%;
    width: 100%;
    margin-bottom: inherit;
  }
}
